API_ID=17020853 # get this value from my.telegram.org
API_HASH=3b68f53d043227a5d87359c99f73912c # get this value from my.telegram.org
BOT_TOKEN=5859524445:AAFZWwh-xeZP9t8jZGVQNAxPd3papnCBK4Y # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://galaxina:galaxina@galaxina.ejvfqm7.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001692984267 # get this value from in your log group 
MUSIC_BOT_NAME=ZAAN_xD # your music bot name 
STRING_SESSION=BQDGR1oIHfSb5wvGPYtUlC9IYwaeBwicZ3pL2dIjkLLmwnP7iQThrmPOt_kaiDtvUulqkmyXjzJDpOxjQsd_zmik2bh74ybZB7scIe9HHtlessTd83_idYT-qt_DBUZEuEOJ9MjpLsYQVw0Y6VJTpreeCTMtZIW_Noi-_xwFmlx7xGT0sPZThqJUkvfg-i7WdYoV232c2sen_nk5qRKDf3No_ZEHwjJXPjwa-DvqwdtMLQFTtpMDQ0EFImBr0Q32gOT8Qzc7DhbSZGYMY66cY1RMk13bFu0_5FgwVNUYJK9wbWi3AY7gJTFom8MCpUDRIAaRQnlHY9IRIvD81GGxXGFNAAAAAVl7XpwA # get this value from @yukkistringbot
OWNER_ID=5428286665 #
